body {
	text-align: center;
}

header {
	background-image: url("http://www.personal.psu.edu/jnf5028/blogs/cup_of_joepa/Coffee_Bean_Wallpaper_by_mrskupe.png");
	background-size: 50%;
	color: #FFFFFF;
	height: 200px;
	padding-top: 30px;
	font-size: 4em;
}
nav {
	background-color: #302013;
	padding: auto;
}
nav a {
	background-color: #302013;
	padding: 1em;
	text-align: center;
	display: inline-block;
	color: #FFFFFF;
	height: 2em;
	width: 8em;
}

nav a:hover {
	background: #4D3A2B;
	color: grey;
	height: 1em;
}


footer {
	clear: both;
	background: #302013;
	color: #FFFFFF;
	height: 70px;
	padding: 30px;
}

.main {
	height: 300px;
	max-width: 86ex;
	margin: 2em auto;
}

.left, .right {
	width: 40ex;
	float: left;
}
.left {
	margin-right: 5.5ex;
}
