body {
}
header {
	margin: 0px;
	padding: 0.5em;
	text-align: center;
	background-color: #302013;
	color: white;
}

h1 {
	display: inline;
	font-size: 1em;
}
nav {

	background: #44362a;
	margin: 0px;
	padding: 0px;
}
nav a {
	width: 40%;
	padding: 4%;
	display: inline-block;
	margin:0px;
	text-align: center;
}

article {
	max-width: 45ex;
	margin: 0 auto;
}

section {
	padding: 1em;
}